body {
    margin: 0;
    padding: 0;
    height: 100vh;
    background-color: white; 
  }
  
  
  .image-container {
    
  }
  
  .texto-container{

    position: absolute;
    padding-top: 100px;

  }


  .img-card {
    width: 185px;
    height: 185px;
    border-radius: 200px;
    border-width: 10px;
    border-style: solid;
    border-color: white;

  }
